@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

/* Definição de variáveis globais */
:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

/* Remover valores padrão do navegador */
* {
  margin: 0px;
  padding: 0px;
}

html,
body {
  min-height: 100vh;
  background-color: darkgrey;
  font-family: var(--fonte1);
}

body p {
  padding-bottom: 2em;
}

header {
  background-color: #805500;
  color: white;
  text-align: center;
}

header .titulo {
  font-size: 10vw;
  font-family: var(--fonte2);
  font-weight: bold;
  font-variant: small-caps;
  padding-top: 50px;
}

header p {
  padding-bottom: 50px;
}

header a,
footer a {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;

  color: white;
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

/* Configs para todas as sessões */
section {
  padding: 15px;
  line-height: 2;
  font-family: var(--fonte3);
  font-size: 3.5vw;
  padding: 1em 0 1em 0.5em;
}

section.normal {
  background-color: #fff;
}

/* Aplica somente às sessões com imagens */
section.imagem {
  background-color: rgb(59, 59, 59);
  background-attachment: fixed;
  color: white;
  box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.397);
  background-size: cover;
  background-repeat: no-repeat;
}

section.imagem p {
  background-color: rgba(0, 0, 0, 0.432);
  display: inline-block;
  padding: 10px;
  border-radius: 15px;
  text-shadow: 1px 1px 0px black;
}

/* Foi necessário o ".." no endereço pois o arquivo style.css está dentro da pasta css, tivemos que voltar um nível para entrar na pasta img */
section#img01 {
  background-image: url(../img/background001.jpg);
  background-position: right center;
}

section#img02 {
  background-image: url(../img/background002.jpg);
  background-position: right center;
}

footer {
  padding: 20px;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  text-align: center;
}

footer p {
  color: white;
  padding: 0px;
}
